# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Distribution / packaging
*.egg-info/
dist/
build/

# VSCode or JetBrains IDE
.vscode/
.idea/

# Mac OS
.DS_Store

# Logs
*.log